﻿<div data-options="dxView : { name: 'About', title: 'Ufis Mobile' } " >
    <div id="divAbout" data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxScrollView: {}">
            <p data-bind="text: strAppInfo"></p>
            <p style="padding: 5px">To learn more, visit <a href="http://www.ufis-as.com">Ufis Airport Solutions</a>.</p>
            <p style="padding: 5px">If you have any questions about this application, do not hesitate to contact our support team via support@ufis-online.com. </p>
	    </div>
    </div>
</div>