﻿div {
    font-family:'Courier New';
    font-size:x-large;
}

.overlayContents{
    text-align: center;
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    background-color:#F7F7F7;
}

.dx-theme-ios .overlayContents{
    border-color:#43628D;
    background-color:#F7F7F7;
}

.dx-theme-android .overlayContents{
    border-color:#FFFFFF;
    background-color:#5F5F5F;
}

.dx-theme-win8 .overlayContents{
    border-color: #E4E4E4;
    background-color:#333333;
}
