<div data-options="dxView : { name: 'Home', title: 'Ufis Mobile' } " style="font-weight:bold" >
    <div id="divMain" data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div id="divL1">
            <div id="divCellA1" style="float: left;width:40%;">
                <div id="divHeader1" style="background-color:#a8a8a8;color:white;text-align:center;font-weight:bold">Arrival</div>
            </div>
            <div id="divCellA2" style="margin-left:30%;">
                <div id="divHeader2" style="background-color:#a8a8a8;color:white;text-align:center;font-weight:bold">Departure</div>
            </div>
        </div>
        <div id="divL2" style="height:95%" data-bind="dxScrollView: {}">
            <div id="divCellB1" style="float: left;width:40%;">
                <div style="width:100%;">
                    <div id="divData1" ></div>
                </div>
            </div>
            <div id="divCellB2" style="margin-left:30%;">
                <div style="width:100%;">
                    <div id="divData2"></div>
                </div>
            </div>
        </div>
        <div id="divPopups">
            <div id="divInfo" data-bind="dxOverlay: { visible: bInfoAlert }">
                <div class="overlayContents">
                    <div id="divErrorTopic"><p><b>INFO</b></p></div>
                    <div id="divError"><p data-bind="text: strInfo"></p></div>
                    <div class="button" data-bind="dxButton: { text: 'OK', clickAction: hideErrorOverlay }"></div>
                </div>
            </div>
            <div id="divLoading" data-bind="dxLoadPanel: { message: 'Loading ...', visible: bLoading }"></div>
        </div>
    </div>
</div>
