﻿<div data-options="dxView : { name: 'Login', title: 'Authentication' }">
    <div style="background-color:#808080" class="Login-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >        
        <form class="form-signin" style="margin-top:40px">
            <div class="text-center" style="margin-bottom:9px">            
                <img src="images/smalllogo.png" style="vertical-align:middle">
                <span style="font-family:Tahoma;font-weight:bold;color:#808080;"> Mobile Application</span>            
            </div>
            <!-- class="input-block-level" is removed from the two textboxes --> 
            <input style="height:30px;font-size:25px;width:90%" type="text" placeholder="Username" data-bind="value: strUsr" />
            <input style="height:30px;font-size:25px;width:90%" type="password" placeholder="Password" data-bind="value: strPwd" />
            <div style="text-align:right">
                <!-- class="btn btn-large btn-primary" -->
                <button style="background-color:#1b71dc;color:#ffffff;text-emphasis-color:#4cff00;height:45px;font-size:30px;width:50%" type="button" id="btnLogin" data-bind="dxButton: { clickAction: fnLogin }">Log In</button>
            </div>
            <div id="overlayContainer" data-bind="dxOverlay: { visible: bLoginError }">
                <div class="overlayContents">
                    <div id="divErrorTopic"><p><b>INFO</b></p></div>
                    <div id="divError"><p data-bind="text: strErrorInfo"></p></div>
                    <div class="button" data-bind="dxButton: { text: 'Login', clickAction: hideLoginErrorOverlay }"></div>                     
                </div>
            </div>
            <div data-bind="dxLoadPanel: { message: 'Logging in ...', visible: loadPanelVisible }"></div>
        </form>  
    </div>
</div>