﻿/* Put css styles for home view here */
div{font-family:'Courier New';}

.Login-view p {
	padding: 5px;
}

.overlayContents{
    text-align: center;
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    background-color:#F7F7F7;
}

.dx-theme-ios .overlayContents{
    border-color:#43628D;
    background-color:#F7F7F7;
}

.dx-theme-android .overlayContents{
    border-color:#FFFFFF;
    background-color:#5F5F5F;
}

.dx-theme-win8 .overlayContents{
    border-color: #E4E4E4;
    background-color:#333333;
}

/*Decorating CSS*/
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #E1E0CD;
    border: 5px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}       

.btn-large {
    padding: 3px 3px 3px 3px;
    height:40px;
    -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
            border-radius: 0px;
}

 .btn-large [class^="icon-"],
 .btn-large [class*=" icon-"] {
    margin-top: 3px;
}

 .modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}

 .btn-primary {
    color: #ffffff;
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    *background-color: #0044cc;
    background-repeat: repeat-x;
    background-image: linear-gradient(to bottom, #777777, #556677);
    border-left-color: #0044cc;
    border-right-color: #0044cc;
    border-top-color: #0044cc;
    border-bottom-color: #002a80;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.cf:before, .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
    * For IE 6/7 only
    * Include this rule to trigger hasLayout and contain floats.
    */
.cf {
    *zoom: 1;
}